<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.png" />
    <title>Climate Quiz: test your knowledge on climate change</title>
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://quiz.xrboston.org/images/share.jpg"
    />
    <meta
      property="og:title"
      content="What do you know about climate change?"
    />
    <meta
      property="og:description"
      content="Click here to test your knowledge ->"
    />
    <meta property="og:url" content="https://quiz.xrboston.org" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@xrboston">
    <meta name="twitter:creator" content="@xrboston">
    <meta name="twitter:title" content="Climate Quiz: test your knowledge on climate change">
    <meta name="twitter:description" content="What do you know about climate change? Try our interactive quiz and see how you score.">
    <meta name="twitter:image" content="https://quiz.xrboston.org/images/share.jpg">    
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but Climate Quiz doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
