$xr-green: rgb(20, 170, 55);
$xr-lemon: rgb(247, 238, 106);
$xr-light-blue: rgb(117, 208, 241);
$xr-pink: rgb(237, 155, 196);
$xr-purple: rgb(152, 98, 151);
$xr-light-green: rgb(190, 210, 118);
$xr-warm-yellow: rgb(255, 193, 30);
$xr-bright-pink: rgb(207, 98, 151);
$xr-red: rgb(220, 79, 0);
$xr-dark-blue: rgb(56, 96, 170);
$xr-angry: rgb(200, 0, 130);
$xr-turquoise: rgb(72, 151, 152);
$xr-colors: (
  "green": $xr-green,
  "lemon": $xr-lemon,
  "light-blue": $xr-light-blue,
  "pink": $xr-pink,
  "purple": $xr-purple,
  "light-green": $xr-light-green,
  "warm-yellow": $xr-warm-yellow,
  "bright-pink": $xr-bright-pink,
  "red": $xr-red,
  "dark-blue": $xr-dark-blue,
  "angry": $xr-angry,
  "turquoise": $xr-turquoise,
  "white": rgb(255, 255, 255),
);
@each $color, $xr-color in $xr-colors {
  .xr-#{$color} {
    color: $xr-color;
  }
  .xr-bg-#{$color} {
    background-color: $xr-color;
  }
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
$xr-spacers: (
  "05": 0.5,
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
);
@each $sp, $x in $xr-spacers {
  .m-#{$sp} {
    margin: #{$x}em;
  }
  .mx-#{$sp} {
    margin-left: #{$x}em;
    margin-right: #{$x}em;
  }
  .my-#{$sp} {
    margin-top: #{$x}em;
    margin-bottom: #{$x}em;
  }
  .mt-#{$sp} {
    margin-top: #{$x}em;
  }
  .mb-#{$sp} {
    margin-bottom: #{$x}em;
  }
  .ml-#{$sp} {
    margin-left: #{$x}em;
  }
  .mr-#{$sp} {
    margin-right: #{$x}em;
  }
  .p-#{$sp} {
    padding: #{$x}em;
  }
  .px-#{$sp} {
    padding-left: #{$x}em;
    padding-right: #{$x}em;
  }
  .py-#{$sp} {
    padding-top: #{$x}em;
    padding-bottom: #{$x}em;
  }
  .pt-#{$sp} {
    padding-top: #{$x}em;
  }
  .pb-#{$sp} {
    padding-bottom: #{$x}em;
  }
  .pl-#{$sp} {
    padding-left: #{$x}em;
  }
  .pr-#{$sp} {
    padding-right: #{$x}em;
  }
}
