html,
body {
  margin: 0;
  height: 100%;
}
@font-face {
  font-family: "FucXed";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/fucxedcaps-v3-webfont.woff2") format("woff2"),
    url("/fonts/fucxedcaps-v3-webfont.woff") format("woff");
  font-display: swap;
}
a {
  color: black;
}
a.btn {
  text-decoration: none;
}
.row {
  display: block;
  /* flex-wrap: wrap; */
}
.col {
  flex: 1;
}
.p-card {
  padding: 0 1em;
}
.larger {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .row {
    display: flex;
  }
  .p-card {
    padding: 0 6em;
  }
  .larger {
    font-size: 1.5rem;
  }
}
.fucxed {
  font-family: "Fucxed";
}
.center {
  text-align: center;
}
.bold {
  font-weight: 900;
}
.card {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.card-inner {
  height: auto;
  padding: 72px 0;
}
.prompt {
  margin-bottom: 0;
  line-height: 1.4;
}
.act-btn {
  cursor: pointer;
  font-family: "Fucxed";
  font-size: 1.5rem;
  text-align: center;
  max-width: 360px;
  border-radius: 3px;
  margin: 1em auto;
  padding: 0.5em 1em;
}
img.wood-block {
  position: absolute;
  z-index: 2000;
  opacity: 0.08;
  width: 100%;
  max-width: 700px;
  bottom: -70px;
  right: 0px;
  pointer-events: none;
}
