<template>
  <div class="card xr-bg-turquoise">
    <img src="/images/butterfly.svg" class="wood-block" />
    <div class="card-inner">
      <div class="message xr-white center bold">Quiz Complete!</div>
      <div class="prompt larger bold xr-white px-1">
        Before we reveal your score will you join the groundswell of concerned
        citizens, demanding the radical changes required to keep our planet
        habitable?
      </div>
      <div class="center px-1">
        <div class="act-btn act-ok" v-if="signUp == -1" v-on:click="signUp = 1">
          Yes! I want to help
        </div>
        <div
          class="act-btn act-cancel"
          v-if="signUp == -1"
          v-on:click="showResults"
        >
          No, sorry
        </div>
        <a href="https://xrboston.org/join" class="btn" target="_blank">
          <div class="act-btn act-join" v-if="signUp == 1">
            Volunteer now with XR Boston
          </div>
        </a>
        <a
          href="https://rebellion.global/groups/#countries"
          class="btn"
          target="_blank"
        >
          <div class="act-btn act-join" v-if="signUp == 1">
            Find a local XR chapter
          </div>
        </a>
        <a
          href="https://xrboston.org/action/?tag=talk"
          class="btn"
          target="_blank"
        >
          <div class="act-btn act-join" v-if="signUp == 1">
            Attend a talk to learn about how to ensure that the government makes
            these changes
          </div>
        </a>
        <div class="act-btn act-ok" v-if="signUp == 1" v-on:click="showResults">
          Show me my results
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import CardScollMixin from "@/mixins/CardScrollMixin.vue";

@Component
export default class CallToActionCard extends Mixins(CardScollMixin) {
  private signUp = -1;
  showResults() {
    this.$emit("show-results");
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.message {
  font-size: 2rem;
}
.act-ok {
  color: white;
  background-color: rgb(118, 201, 202);
}
.act-cancel {
  color: gray;
  background-color: lightgray;
}
.act-join {
  color: white;
  background-color: rgb(70, 220, 105);
}
</style>
