<template>
  <div class="card" v-bind:class="bgClass">
    <img v-bind:src="'/images/' + bgImage" class="wood-block" />
    <div class="card-inner">
      <div class="mt-05 center">
        Question {{ item.ordinal }} of {{ item.total }}
      </div>
      <div class="row p-card">
        <div class="col">
          <p class="prompt larger bold">
            {{ item.question.prompt }}
          </p>
          <ReferenceLink
            class="answer-source"
            v-if="item.question.sourceLabel"
            v-bind:link="item.question.sourceLink"
            v-bind:label="item.question.sourceLabel"
          ></ReferenceLink>
          <ul class="answer-list">
            <li
              class="answer my-1 mx-0 py-05 px-1"
              v-for="(choice, index) in item.question.choices"
              v-bind:key="index"
              v-bind:class="{ chosen: item.question.chosen == index }"
              @click="item.question.chosen = index"
            >
              {{ choice }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Mixins, Prop, Watch } from "vue-property-decorator";
import ReferenceLink from "@/components/ReferenceLink.vue";
import CardScrollMixin from "@/mixins/CardScrollMixin.vue";
import QuestionItem from "@/types/questionItem";

@Component({
  components: {
    ReferenceLink
  }
})
export default class QuestionCard extends Mixins(CardScrollMixin) {
  @Prop() private item!: QuestionItem;
  @Watch("item.question.chosen", { immediate: true })
  choiceChanged(newVal: number, oldVal: number) {
    if (oldVal == -1) {
      this.$emit("inital-choice-made", this.item.question);
    }
  }

  private bgImage: string =
    QuestionCard.bgImages[
      (this.item.ordinal - 1) % QuestionCard.bgImages.length
    ];
  private bgClass: string =
    QuestionCard.bgColorClasses[
      (this.item.ordinal - 1) % QuestionCard.bgColorClasses.length
    ];

  static bgColorClasses: Array<string> = [
    "xr-bg-lemon",
    "xr-bg-light-blue",
    "xr-bg-pink",
    "xr-bg-light-green",
    "xr-bg-warm-yellow",
    "xr-bg-red",
    "xr-bg-bright-pink",
    "xr-bg-angry"
  ];

  static bgImages: Array<string> = [
    "ant.svg",
    "bee.svg",
    "bird.svg",
    "bird2.svg",
    "bug.svg",
    "bee2.svg",
    "butterfly.svg",
    "bee_side.svg",
    "hourglass.svg",
    "orchid.svg",
    "tree.svg"
  ];
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
ul.answer-list {
  list-style-type: none;
  list-style: none;
  width: 100%;
  padding-left: 0;
}
.answer-list li {
  animation: FadeIn 0.25s linear;
  animation-fill-mode: both;
}
@for $i from 1 through 5 {
  .answer-list li:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.25}s;
  }
}
li.answer {
  cursor: pointer;
  background-color: rgb(255, 254, 225);
  font-size: 1.2rem;
}
li.answer:hover {
  color: gray;
}
li.chosen {
  background-color: rgb(176, 167, 248);
}
.answer-source {
  text-align: right;
}
</style>
