<template>
  <div class="quiz m-0 p-0">
    <h1 class="header">{{ msg }}</h1>
    <ul class="question-list">
      <li
        is="QuestionCard"
        ref="cards"
        v-for="(question, index) in questions.slice(0, answeredIndex + 1)"
        v-bind:key="index"
        v-bind:item="{
          question: question,
          ordinal: index + 1,
          total: questions.length
        }"
        v-on:inital-choice-made="handleInitialChoice"
      ></li>
      <li
        is="CallToActionCard"
        v-if="complete"
        v-on:show-results="handleShowResults"
      ></li>
      <li
        is="ScoreCard"
        v-if="score >= 0"
        v-bind:score="score"
        v-bind:questions="questions"
      ></li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import QuestionCard from "@/components/QuestionCard.vue";
import CallToActionCard from "@/components/CallToActionCard.vue";
import ScoreCard from "@/components/ScoreCard.vue";
import Question from "@/types/question";

@Component({
  components: {
    QuestionCard,
    CallToActionCard,
    ScoreCard
  }
})
export default class Quiz extends Vue {
  @Prop() private msg!: string;
  private score = -1;
  private complete = false;
  private questions: Array<Question> = [
    {
      prompt: "Scientists say 'net zero by 2050':",
      choices: [
        "will save us from climate breakdown",
        "will minimize damage from climate breakdown",
        "will be nowhere near enough to prevent climate breakdown",
        "is nothing to do with climate breakdown"
      ],
      answer: 2,
      sourceLabel:
        "IPCC 'Global Warming of 1.5°C special report' Oct 2018. Summary for Policymakers paragraph D.1 and D.1.1",
      sourceLink: "https://www.ipcc.ch/sr15/chapter/spm/#article-spm-d",
      chosen: -1
    },
    {
      prompt:
        "Insects feed many birds. Since 1986 the total weight of flying insects in nature reserves has declined...",
      choices: ["a little", "by 20%", "by 50%", "by 76%"],
      answer: 3,
      sourceLabel: "Krefeld insect study, Germany 2017",
      sourceLink:
        "https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0185809",
      chosen: -1
    },
    {
      prompt:
        "Under the 'Paris agreement', 197 countries made pledges that try to keep the global average temperature rise to less than 2°C by 2100. How many developed countries have initiated plans that meet their pledges?",
      choices: ["none", "a few", "almost half", "more than half", "nearly all"],
      answer: 0,
      sourceLabel: "Climate action tracker",
      sourceLink: "https://climateactiontracker.org/countries/",
      chosen: -1
    },
    {
      prompt:
        "What will be the average global temperature increase by 2100, with present policies and actions?",
      choices: [
        "1.2°C  (2.2°F)",
        "1.7°C  (3.1°F)",
        "2.0°C  (3.6°F)",
        "2.7°C  (4.8°F)",
        "5.0°C  (9.0°F)"
      ],
      answer: 3,
      sourceLabel:
        "IPCC ‘Global Warming of 1.5°C special report’ Oct 2018. Summary for Policymakers paragraph D.1 and D.1.1",
      sourceLink: "https://www.ipcc.ch/sr15/chapter/spm/#article-spm-d",
      chosen: -1
    },
    {
      prompt:
        "Which is cheaper: preventing climate breakdown or dealing with its consequences?",
      choices: [
        "preventing it",
        "dealing with its consequences",
        "about the same"
      ],
      answer: 0,
      sourceLabel:
        "IPCC 'Global Warming of 1.5°C special report' Oct 2018. Summary for Policymakers paragraph D.5.3",
      sourceLink: "https://www.ipcc.ch/sr15/chapter/spm/#article-spm-d",
      chosen: -1
    },
    {
      prompt:
        "Extinction is taking place 10 to 1000 times faster than normal. How many animal and plant species are threatened with extinction?",
      choices: ["13,000", "1 million", "2 million", "4 million"],
      answer: 1,
      sourceLabel: "IPBES Global Assessment Summary for Policymakers 2019",
      sourceLink:
        "https://ipbes.net/sites/default/files/inline/files/ipbes_global_assessment_report_summary_for_policymakers.pdf",
      chosen: -1
    },
    {
      prompt:
        "What percentage of the weigh of the world's mammals is human beings and their livestock (pigs, cows, etc)?",
      choices: ["6%", "16%", "36%", "66%", "96%"],
      answer: 4,
      sourceLabel:
        "The biomass distribution on Earth Yinon M. Bar-On, Rob Phillips, and Ron Milo PNAS June 19, 2018 115 (25) 6506-6511; first published May 21, 2018",
      sourceLink: "https://www.pnas.org/content/115/25/6506",
      chosen: -1
    },
    {
      prompt:
        "If carbon emissions are cut by 45% in the next 8 years, and reach net zero by 2050, what are the chances of staying below 1.5°C?",
      choices: ["100%", "75%", "50-50", "35%", "10%"],
      answer: 2,
      sourceLabel:
        "IPCC 'Global Warming of 1.5 C special report' Oct 2018. Summary for Policymakers paragraph C.1 & C.1.3",
      sourceLink: "https://www.ipcc.ch/sr15/chapter/spm/#article-spm-c",
      chosen: -1
    }
  ];
  get answeredIndex(): number {
    const index = this.questions.findIndex(q => q.chosen == -1);
    return index == -1 ? this.questions.length : index;
  }
  handleInitialChoice(question: Question) {
    const index = this.questions.indexOf(question);
    this.complete = index == this.questions.length - 1;
  }
  handleShowResults() {
    let score = 0;
    for (const q of this.questions) {
      // count correct answers.
      if (q.chosen == q.answer) {
        ++score;
      }
    }
    this.score = score;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h1.header {
  font-family: "FucXed";
  color: white;
  background-color: black;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
div.quiz {
  display: flex;
  flex-direction: column;
}
</style>
