<template>
  <div class="reference-link">
    <a v-if="showLink" :href="link" target="_blank">{{ label }}</a>
    <span class="source-link" v-else @click="showLink = true">source</span>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class ReferenceLink extends Vue {
  @Prop() private link!: string;
  @Prop() private label!: string;
  private showLink = false;
}
</script>

<style scoped lang="scss">
.source-link {
  cursor: pointer;
  text-decoration: underline;
}
</style>
