<template>
  <div class="card xr-bg-purple">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
      crossorigin="anonymous"
    />

    <div class="card-inner">
      <div class="m-1 fucxed center larger">
        {{ scoreQuality }}
      </div>
      <div class="center larger bold">
        You scored {{ score }} out of {{ questions.length }}
      </div>
      <div
        class="act-btn xr-white xr-bg-bright-pink"
        v-if="score < questions.length"
        v-on:click="showBreakdown = true"
      >
        Score Breakdown
      </div>
      <transition name="fade">
        <div v-if="showBreakdown" class="xr-bg-white m-0 p-1">
          <div
            v-for="(question, index) in questions"
            v-bind:key="question.prompt"
          >
            <div class="bold">{{ index + 1 }}. {{ question.prompt }}</div>
            <div class="row">
              <div class="col answer-key" v-bind:class="answerClass(question)">
                <div class="center xr-bg-white"><i>your answer</i></div>
                <div class="p-05">
                  {{ chosenLabel(question) }}
                </div>
              </div>
              <div class="col answer-key xr-bg-light-green">
                <div class="center xr-bg-white"><i>correct answer</i></div>
                <div class="p-05">
                  {{ answerLabel(question) }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <ReferenceLink
                  class="center mt-1"
                  v-if="question.sourceLink"
                  v-bind:label="question.sourceLabel"
                  v-bind:link="question.sourceLink"
                ></ReferenceLink>
                <hr class="m-1" v-if="index < questions.length - 1" />
              </div>
            </div>
          </div>
        </div>
      </transition>
      <div class="mt-1 prompt larger bold center">
        Share this quiz with your friends to see if they can beat your score:
      </div>
      <div class="share-network-list py-1">
        <ShareNetwork
          v-for="network in networks"
          v-bind:key="network.network"
          v-bind:style="{ backgroundColor: network.color }"
          :network="network.network"
          :url="share.site"
          :title="share.title"
          :description="share.description"
          :twitterUser="share.twitterUser"
        >
          <i :class="network.icon"></i>
          <span class="pl-1">{{ network.name }}</span>
        </ShareNetwork>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Mixins, Prop, Vue } from "vue-property-decorator";
import ReferenceLink from "@/components/ReferenceLink.vue";
import CardScollMixin from "@/mixins/CardScrollMixin.vue";
import Question from "@/types/question";

@Component({
  components: {
    ReferenceLink
  }
})
export default class ScoreCard extends Mixins(CardScollMixin) {
  @Prop() private score!: number;
  @Prop() private questions!: Array<Question>;
  private showBreakdown = false;
  private site = "https://quiz.xrboston.org";
  private share = {
    site: "https://quiz.xrboston.org",
    twitterUser: "xrboston",
    title: "Climate Quiz",
    description: "Test your knowledge of climate change"
  };
  private networks = [
    {
      network: "facebook",
      name: "Facebook",
      icon: "fab fah fa-lg fa-facebook-f",
      color: "#1877f2"
    },
    {
      network: "twitter",
      name: "Twitter",
      icon: "fab fah fa-lg fa-twitter",
      color: "#1da1f2"
    },
    {
      network: "linkedin",
      name: "LinkedIn",
      icon: "fab fah fa-lg fa-linkedin",
      color: "#007bb5"
    },
    {
      network: "whatsapp",
      name: "Whatsapp",
      icon: "fab fah fa-lg fa-whatsapp",
      color: "#25d366"
    },
    {
      network: "telegram",
      name: "Telegram",
      icon: "fab fah fa-lg fa-telegram-plane",
      color: "#0088cc"
    },
    {
      network: "email",
      name: "Email",
      icon: "far fah fa-lg fa-envelope",
      color: "#333333"
    }
    //{ network: 'baidu', name: 'Baidu', icon: 'fas fah fa-lg fa-paw', color: '#2529d8' },
    //{ network: 'buffer', name: 'Buffer', icon: 'fab fah fa-lg fa-buffer', color: '#323b43' },
    //{ network: 'evernote', name: 'Evernote', icon: 'fab fah fa-lg fa-evernote', color: '#2dbe60' },
    //{ network: 'flipboard', name: 'Flipboard', icon: 'fab fah fa-lg fa-flipboard', color: '#e12828' },
    //{ network: 'hackernews', name: 'HackerNews', icon: 'fab fah fa-lg fa-hacker-news', color: '#ff4000' },
    //{ network: 'instapaper', name: 'Instapaper', icon: 'fas fah fa-lg fa-italic', color: '#428bca' },
    //{ network: 'line', name: 'Line', icon: 'fab fah fa-lg fa-line', color: '#00c300' },
    //{ network: 'odnoklassniki', name: 'Odnoklassniki', icon: 'fab fah fa-lg fa-odnoklassniki', color: '#ed812b' },
    //{ network: 'pinterest', name: 'Pinterest', icon: 'fab fah fa-lg fa-pinterest', color: '#bd081c' },
    //{ network: 'pocket', name: 'Pocket', icon: 'fab fah fa-lg fa-get-pocket', color: '#ef4056' },
    //{ network: 'quora', name: 'Quora', icon: 'fab fah fa-lg fa-quora', color: '#a82400' },
    //{ network: 'reddit', name: 'Reddit', icon: 'fab fah fa-lg fa-reddit-alien', color: '#ff4500' },
    //{ network: 'skype', name: 'Skype', icon: 'fab fah fa-lg fa-skype', color: '#00aff0' },
    //{ network: 'sms', name: 'SMS', icon: 'far fah fa-lg fa-comment-dots', color: '#333333' },
    //{ network: 'stumbleupon', name: 'StumbleUpon', icon: 'fab fah fa-lg fa-stumbleupon', color: '#eb4924' },
    //{ network: 'tumblr', name: 'Tumblr', icon: 'fab fah fa-lg fa-tumblr', color: '#35465c' },
    //{ network: 'viber', name: 'Viber', icon: 'fab fah fa-lg fa-viber', color: '#59267c' },
    //{ network: 'vk', name: 'Vk', icon: 'fab fah fa-lg fa-vk', color: '#4a76a8' },
    //{ network: 'weibo', name: 'Weibo', icon: 'fab fah fa-lg fa-weibo', color: '#e9152d' },
    //{ network: 'wordpress', name: 'Wordpress', icon: 'fab fah fa-lg fa-wordpress', color: '#21759b' },
    //{ network: 'xing', name: 'Xing', icon: 'fab fah fa-lg fa-xing', color: '#026466' },
    //{ network: 'yammer', name: 'Yammer', icon: 'fab fah fa-lg fa-yammer', color: '#0072c6' },
    //{ network: 'fakeblock', name: 'Custom Network', icon: 'fab fah fa-lg fa-vuejs', color: '#41b883' }
  ];
  get percentScore(): number {
    return this.score / this.questions.length;
  }
  get scoreQuality(): string {
    const percent = this.percentScore;
    if (percent > 0.9) return "Amazing";
    if (percent > 0.75) return "Great!";
    if (percent > 0.5) return "Well done";
    return "Good try";
  }
  answerLabel(question: Question): string {
    return question.choices[question.answer];
  }
  chosenLabel(question: Question): string {
    return question.choices[question.chosen];
  }
  isCorrectAnswer(question: Question): boolean {
    return question.chosen == question.answer;
  }
  answerClass(question: Question): string {
    return this.isCorrectAnswer(question) ? "xr-bg-light-green" : "xr-bg-pink";
  }
  get shareFB(): string {
    const id = "1935516389878133";
    return encodeURI(
      `https://www.facebook.com/dialog/share?app_id=${id}&href=${this.site}`
    );
  }
  get shareTweet(): string {
    const tweet = `I scored ${this.score} out of ${this.questions.length} on this climate quiz from @XRBoston`;
    const hashtags = "ClimateEmergency,ActNow";
    return encodeURI(
      `https://twitter.com/share?url=${this.site}&text=${tweet}&hashtags=${hashtags}`
    );
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.result {
  margin-top: 1em;
}
.fade-enter-active {
  transition: all 0.5s ease;
}
.fade-enter,
.slide-fade-leave-to {
  transform: scaleY(0);
  opacity: 0;
}
.answer-key {
  margin: 0 4px;
}
.share-network-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 300px;
  margin: auto;
}
a[class^="share-network-"] {
  flex: none;
  color: #ffffff;
  background-color: #333;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px 10px 0;
}
a[class^="share-network-"] .fah {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  flex: 0 1 auto;
  min-width: 24px;
}
a[class^="share-network-"] span {
  flex: 1 1 0%;
  font-family: "Helvetica";
  font-weight: 900;
  font-size: 1.2em;
}
</style>
