<template>
  <div id="app">
    <Quiz msg="Climate Quiz" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Quiz from "@/components/Quiz.vue";

@Component({
  components: {
    Quiz
  }
})
export default class App extends Vue {};
</script>

<style lang="scss">
#app {
  font-family: "Crimson Text", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
